.bin
.checkstyle
.classpath
.DS_Store
.ecbuild/
.gradle/
.idea/
.project
.settings/
.vscode
*.pyc
*.swp
**/.factorypath
**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/*.log.gz
*/bin
*/generated/
build
build.sbt
Build.scala
buildlib
classes/
customProcessor.jar
dependencyRepo/
docs/snippets/bin
generated_src/
generated_test/
generated_tests/
generated_testSrc/
gofigure-rendered/*
lib
node_modules/
out/
project
sbt-launch.jar
target
